* {
    color: black;
}

body {
    background-color: rgb(248, 248, 248);
}

.home {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.home-content {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 20px;
}

.boxes {
    width: 100%;
    margin-top: 30px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box-product {
    margin: 20px 20px;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgb(199, 199, 199);
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: 0.4s;
}

.box-product:hover {
    width: 320px;
    height: 420px;
    box-shadow: 0 0 10px 3px rgb(176, 176, 176);
}

.left {
    text-align: left;
}

.box-text {
    margin: 0 15px 20px;
    font-size: 11px;
}

h2 {
    margin: 0 15px 15px;
    font-size: 18px;
    font-weight: 600;
}

.box-img {
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 15px;
    z-index: 1;
}

.fr {
    margin-top: 7px;
    width: 210px;
}

.sc {
    width: 210px;
}

.th {
    margin-bottom: 40px;
    width: 150px;
}

.best-selling {
    width: 150px;
    height: 40px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.best {
    font-weight: 700;
    font-size: 18px;
}

@media(max-width: 600px) {
    .home.active {
        margin-top: 352px;
    }

    .home.activate {
        margin-top: 418px;
    }

    .box-product {
        margin: 20px 0;
    }
}